# Environments para ocultar
.env
**/.env
*.env


# Licence Gurobi
gurobi.lic
**/gurobi.lic
*gurobi.lic


# pkl data and artifact models
.pkl
**/.pkl
*.pkl


# files images
.png
**/.png
*.png

.html
**/.html
*.html


# DS Store Mac file
.DS_Store
**/.DS_Store
*.DS_Store


# checkpoints
.ipynb_checkpoints
**/.ipynb_checkpoints
*.ipynb_checkpoints

# pycache
__pycache__
**/__pycache__
*__pycache__






